.image-item-container {
  list-style: none;
  margin: 5px;
}

.image-btn {
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
  outline: none;
}

.thumbnail-img {
  height: 80px;
  width: 80px;
}

@media screen and (min-width: 768px) {
  .image-item-container {
    margin: 10px;
  }

  .image-btn {
    padding: 0px;
  }

  .thumbnail-img {
    height: 130px;
    width: 130px;
  }
}
