.tab-item-container {
  list-style: none;
}

.tab-btn {
  color: #ffffff;
  font-size: 19px;
  font-family: 'Roboto';
  font-weight: 500;
  background: transparent;
  border: none;
  margin: 10px;
  cursor: pointer;
  outline: none;
}

.active-tab-btn {
  color: #fec653;
  border-bottom: 2px solid #fec653;
}
