.score-card-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  background-repeat: no-repeat;
  height: 500px;
  width: 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.trophy-img {
  height: 200px;
  width: 250px;
}

.score-card-score-title {
  font-size: 26px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #ffffff;
}

.score-card-score-text {
  font-size: 28px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 10px;
}

.play-again-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cf60c8;
  height: 45px;
  width: 150px;
  border-radius: 7px;
  /* padding: 20px; */
}

.reset-icon {
  height: 25px;
  width: 25px;
}

.play-again-btn {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 15px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .score-card-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
    height: 120vh;
    width: 605px;
    padding-top: 100px;
    align-items: center;
  }

  .trophy-img {
    height: 350px;
    width: 500px;
    margin-top: 100px;
    /* margin-right: 80px; */
  }

  .score-card-score-title {
    font-size: 26px;
  }

  .score-card-score-text {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .play-again-container {
    height: 55px;
    width: 200px;
    border-radius: 7px;
    padding: 10px;
  }

  .reset-icon {
    height: 30px;
    width: 30px;
  }

  .play-again-btn {
    font-size: 20px;
    font-weight: 600;
    height: 40px;
    width: 160px;
  }
}
